* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f6f9;
}

header {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background: #002244;
    color: white;
    padding: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px 0;
}

.content {
    width: 80%;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:hover {
    background: #e6f2ff;
}

.debit {
    color: red;
}

.credit {
    color: green;
}

input[type="password"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
