h1, h2, h3 {
    color: #00b4cc;
}

p {
    color: #333;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #f4faff;
}

header, footer {
    background: #0077cc;
    color: white;
    padding: 15px;
    text-align: center;
}

.services {
    padding: 20px;
}

.services p {
    font-size: 14px;
}

.service-card {
    padding: 20px;
    margin: 15px;
    border: 2px solid #0077cc;
    border-radius: 10px;
    box-sizing: border-box;
    background: white;
    display: inline-block;
    width: 28%;
}
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
}

button:hover {
    background-color: #005fa3;
    color: white;
}
